  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>{{head_title}}</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="//use.typekit.net/ypr5vji.js"></script>
  <script src="/scripts.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="/vendor/zenburn.css">
  <script src='/vendor/highlight.pack.js'></script>
  <script>hljs.initHighlightingOnLoad();</script>